{% extends 'base2.html' %}
{% load static %}


{% block content %}

<head>
<link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body class="fondo">
    <div class="col-md-4 offset-md-4 mt-5">

        <div class="d-flex justify-content-between">
            <a name="" id="" class="btn btn-dark fixed-bottom  mt-auto mx-auto" href='https://drive.google.com/file/d/1MRvMYkNTroBa-gb7W7xTOGP3uLP2AAuX/view?usp=sharing' role="button">APRENDE CÓMO</a>
        </div>
    </div>
</body>
{% endblock %}